{{!< layout/default}}
{{#contentFor 'body'}}
  <div class="jumbotron">
    <div class="container">
      <h1>Skill tests for developers</h1>
      <h2><span><span>Quick and effective</span> hands-on tests <span>to verify knowledge of <br/> basic programming concepts.</span></h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default panel-language anchor" data-href="/tests/php">
          <div class="panel-body">
            <h2>PHP</h2>
            <p>{{tests.php._count}} hands-on tests</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-language anchor" data-href="/tests/js">
          <div class="panel-body">
            <h2>JavaScript</h2>
            <p>{{tests.js._count}} hands-on tests</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-language anchor" data-href="/tests/mysql">
          <div class="panel-body">
            <h2>MySQL</h2>
            <p>{{tests.mysql._count}} hands-on tests</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-language" style="opacity: .5">
          <div class="panel-body">
            <h2>MORE</h2>
            <p>Coming soon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/contentFor}}
