{{!< layout/default}}
{{#contentFor 'header'}}
  <div class="container">
    <div class="page-header">
      <h1><a href="/">CodeSkill</a> / {{#getValue strings.languages language}}{{/getValue}}</h1>
    </div>
  </div>
{{/contentFor}}
{{#contentFor 'body'}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs nav-languages">
          <li class="{{#eq language 'php'}}active{{/eq}}"><a href="/tests/php">PHP</a></li>
          <li class="{{#eq language 'js'}}active{{/eq}}"><a href="/tests/js">JavaScript</a></li>
          <li class="{{#eq language 'mysql'}}active{{/eq}}"><a href="/tests/mysql">MySQL</a></li>
        </ul>
      </div>

      <div class="col-md-12">
        <table class="table table-tests">
        <thead>
          <th>Test</th>
        </thead>
        <tbody>
          {{#tests}}
            <tr>
              <td><a href="/test/{{../language}}/{{code}}">{{@index}}. {{title}}</a></td>
            </tr>
          {{/tests}}
        </tbody>
        </table>
      </div>

    </div>
  </div>
{{/contentFor}}
