body {
  margin-bottom: 2em;
}
h1, h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  margin: 1em 0 0.5em 0;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
ol {
  margin: 1em 0;
}
.box {
  display: block;
  border: 1px solid #ccc;
  padding: 1em;
  text-align: center;
  color: black;
}
.box:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
  border-color: #5bc0de;
}
.box h2 {
  margin-top: .5em;
}
pre {
  font-size: 14px;
  padding: 1em;
  border-radius: 0;
  border-width: 2px;
  background-color: #f4f8fa;
}
.script {
  padding: 1em;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-top: 1em;
}
.script .code, .script .foot, .actual {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
}
.script .desc {
  padding: 1em;
  background: #ddd;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
}
.script .head {
  white-space: pre-wrap;
  margin: -1em -1em 0 -1em;
}
.script .foot {
  font-weight: normal;
  border-top: 1px solid #ddd;
  background-color: #fff;
  margin: 0 -1em -1em -1em;
}
.script h2, .script h3 {
  margin-top: 0;
}
.solution {
  display: block;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  padding: 1em;
  margin: 0;
  width: 100%;
  outline: none;
  border: 0;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  resize: none;
  height: 20px;
  background: none;
}
.script-solution {
  margin: 0 -1em;
  padding: 0;
  background: #eee;
}
.ident-1 {
  padding-left: 2em;
}
.ident-2 {
  padding-left: 4em;
}
.result {
  margin: 1em 0;
}
.table h2 {
  margin-top: 0;
}
.solve {
  margin-top: 1em;
  text-align: right;
}
.btn i {
}
.script-content {
  white-space: pre-wrap;
}
.script-head {
  margin: 1em 0;
}
.script-foot {
  margin: 1em 0;
}
.nav-languages {
  margin-bottom: 1em;
}